/* GENERAL STYLES */

* {
    box-sizing: border-box;
}

h3 {
    width: 100%;
    text-transform: uppercase;
    grid-column: 1 / -1;
}

h5 {
    margin: 0;
}

p {
    font-size: small;
    margin: 0;
}

.social-headline {
    color:#7377bf;
}

body {
    font-family: 'Varela Round', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* ELEMENTS */

nav {
    display: flex;
    max-width: 3300px;
    background-color: #7477bf;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
}

.header-right,
.header-left {
    display: flex;
}

.header-right {
    flex-wrap: nowrap;
}

#profile-avatar {
    border-radius: 50%;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.header-title,
.user-name {
    margin: 5px;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
}

.user-name {
    padding-top: 10px;
    font-weight: 100;
}

.main-headline {
    padding-right: 60px;
    margin: 0;
}

input[type="search" i] {
    border-radius: 10px;
    border: solid 1px lightgray;
    }

.main-header-search {
    margin-bottom: 2vh;
    width: 100%;
    max-width: 507px;
}

.alert {
    color: white;
    position: relative;
}

.alert-banner {
    color: white;
}

.alert-banner-close {
    top: 50%;
    left: 90%;
    color: white;
    padding: 2px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}

.space {
    width: 100%;
}

.main-nav span {
    margin-right: 2vh;
}

.bell {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 35px;
}

.circle{
    margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 10px;
    width: 4px;
    fill: #85db81;
}

#vertical-line {
    border-left: thin solid black;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
    height: 28px;
    margin-top: 7px;
    margin-right: 11px;
}

.graphic {
    margin: 10px;
    width: 25px;
    padding-left: 5px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.traffic-header {
    display: flex;
    flex-direction: column;
}
.traffic-nav.switch-toggle{
    background: transparent;
    box-shadow: none;
}
.traffic-nav input:not(:checked) + label{
    cursor: pointer;
}
.traffic-nav input:checked + label{
    outline:none;
}
.traffic-nav li {
    padding: 0 13px;
}

.social-image svg {
    width: 30px;
}

.email {
    font-size: 13px;
    margin-left: 3px;

}

.members-avatar {
    border-radius: 50%;
    width: 20%;
}

#activity-avatar {
    border-radius: 50%;
    height: 33px;
    margin-top: 10px;
    margin-bottom: 3px;
}

#social-stats {
    display: flex;
    flex-direction: column;
}

.form-field,
.form-area {
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
    background-color: #fafafa;
}

.button-primary,
.button-disabled {
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.button-primary {
background-color: #7377bf;
}

.button-disabled {
    background-color: gray;
}

.social-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7377bf;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-image svg path {
    fill: white;
} 

.settings {
    margin-bottom: 10px;
}

.settings-wrapper,
.settings-button {
    margin: 10px 0;
}

.settings-button {
    display: flex;
    width: 100%;
}

section.daily, section.mobile{
    width: 50%;
}

/* BELL */

.bell-svg {
    fill: white;
}

.bell-svg:hover {
    fill: #85db81;
}

/* TOGGLE SWTICH */

.traffic-nav, 
.switch-toggle,
.switch-candy {
    cursor: pointer;
    overflow: hidden;
    background-color: lightgray;
    font-size: 12px;
    margin: 10px 0;
}

.settings-switch {
    cursor: pointer;
    font-size: 12px;
    width: 12vh;
}

/* GRID */

.grid-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                        "header header" 
                        "nav    main";
}

/* CONTAINERS */

header {
    grid-area: header;
}
navside {
    grid-area: nav;
    background-color: #4d4c72;
    padding-top: 65px;
    padding-right: 10px;
}
main {
    grid-area: main;
    padding: 8vh 20px 0 20px;
    color: #4D535E;
    display: grid;
    grid-template-columns: 1fr;

}
.social-container {
    padding: 5px;
}
#banner {
    display: flex;
    position: relative;
    max-width: 1000vh;
    width: 194px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: #7377bf;
}
.chart-container canvas{
    max-width: 100%;
    min-height: 300px;
}

/* MEDIA QUERIES */

@media (min-width: 320px) {
    nav {
        width: 100%;
        justify-content: space-between;
    }
    input[type="search" i] {
    max-width: 27vh;
    padding: 4px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px lightgray;
    margin: 0;
    }
    .wrapper {
        width: 207px;
        margin-bottom: 10px;
    }
    .main-headline {
        padding-right: 60px;
        margin-bottom: 10px;
    }
    .members-container,
    .activities-container {
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    main{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header  header"
            "banner  banner"
            "traffic traffic"
            "daily   mobile"
            "social  social"
            "members activities"
            "message settings";

    }
    main #main-header {
        grid-area: header;
    }
    main #banner {
        grid-area: banner;
    }
    main #traffic {
        grid-area: traffic;
    }
    main #daily {
        grid-area: daily;
    }
    main #mobile {
        grid-area: mobile;
    }
    main #social-stats {
        grid-area: social;
    }
    main #members {
        grid-area: members;
    }
    main #activities {
        grid-area: activities;
    }
    main #message {
        grid-area: message;
    }
    main #settings {
        grid-area: settings;
    }
    input[type="search" i] {
        width: 109%;
        padding: 8px;
        height: 30px;
        
    }
    .alert-banner-close {
        top: 16%;
        left: 96%;
        color: white;
        padding: 2px;
        font-weight: bold;
        position: absolute;
    }
    .main-headline {
        margin: 0;
        padding: 0;
    }
    .main-header-search {
        width: 193px;;
        margin: 0;
    }
    #main-header {
        display: flex;
        width: 98%;
        align-items: center;
    }
    .traffic-nav {
        width: 100%;
    }
    navside {
        padding-top: 68px;
    }
    .social-container {
        padding: 10px;
        display: flex;
        text-align: center;
        border: 1px solid black;
        background-color: #fafafa;
        border-radius: 5px;
        margin: 10px;
    }
    #social-stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .social-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    }
    .social-count {
        font-size: 25px;
    }
    #activity-avatar {
        margin-bottom: 12px;
    }
    .button-primary,
    .button-disabled {
        font-size: 15px;
        width: 100%;
        height: 35px;
    }
    .button-disabled {
        margin-left: 10px;
    }
    .traffic-header {
        align-items: flex-end;
    }
    .traffic-nav.switch-toggle{
        width: 50%;
    }
    #banner {
        width: 100%;
        height: 100%;
    }
    #members,
    #activities {
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
    .members-container,
    .activities-container{
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-areas:
        "picture primary"
        "picture secondary";
        align-items: center;
        padding: 10px 0;
    }
    .primary-info {
        grid-area: primary;
        font-weight: bolder;
    }
    .secondary-info{
        grid-area: secondary;
        display: flex;
        justify-content: space-between;
    }
    .members-avatar{
        grid-area: picture;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    navside {
        grid-area: nav;
        padding-top: 61px;
        padding-right: 0px;
    }
    .header-title,
    .user-name {
        font-size: 17px;
        color: white;
    }
    .header-title {
        margin-left: 15px;
    }
    .user-name {
        margin-right: 15px;
    }
    span {
        font-weight: lighter;
    }
    .bell {
        width: 33px;
        margin-top: 15px;
    }
    #vertical-line {
        border-left: thin solid black;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
        height: 28px;
        margin-top: 10px;
        margin-right: 11px;
    }
    #profile-avatar {
        margin-bottom: 10px;
        height: 30px;
    }
    .graphic {
        margin: 10px;
        width: 30px;
        padding-left: 5px;
    }
    #banner {
        width: 100%;
        height: 100%;
    }
    .alert-banner-close {
        top: 16%;
        left: 97%;
    }
    .form-field, 
    .form-area{
        width: 80%;
    }
    #send {
        width: 80%
    }
    #save,
    #cancel {
        width: 40%;
        
    }
}

